@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayis-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);

}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--very-dark-blue);
  font-size: 1.2em;
}

h1, h2 {
  font-family: 'Railway', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  padding: 20px;
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex > * {
  flex: 1;
}

/* Navigation */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-left: 50px;
}

nav ul li a {
  text-decoration: none;
  color: var(--very-dark-blue);
  font-family: 'Railway', sans-serif;
}

/* Form */

form {
  display: flex;
}

input {
  border: 1px solid var(--very-dark-blue);
  border-radius: 2px;
  padding: 15px;
  flex: 0.7;
}

button {
  border: 1px solid var(--bright-blue);
  background-color: var(--bright-blue);
  color: #ffffff;
  border-radius: 2px;
  padding: 15px;
  flex: 0.3;
  margin-left: 15px;
}
