@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayis-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--very-dark-blue);
  margin: 0;
}

h1,
h2,
h4 {
  font-family: "Railway", sans-serif;
}

h2 {
  font-size: 1.8em;
  margin-top: 0;
}

img {
  max-width: 100%;
}

.container {
  padding: 30px;
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex > div,
.flex > ul {
  flex: 1;
}

.flex > div:first-child {
  margin-right: 20px;
}

.flex > div:last-child {
  margin-left: 20px;
}

/* Navigation */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-left: 50px;
}

nav ul li a {
  text-decoration: none;
  color: var(--very-dark-blue);
  font-family: "Railway", sans-serif;
}

/* Form */

form {
  display: flex;
}

input {
  font-family: "Railway", sans-serif;
  border: 1px solid var(--very-dark-blue);
  border-radius: 2px;
  padding: 15px;
  flex: 0.7;
}

input::placeholder {
  color: var(--light-gray);
}

button {
  border: 1px solid var(--bright-blue);
  background-color: var(--bright-blue);
  font-family: "Railway", sans-serif;
  font-weight: 700;
  color: #ffffff;
  border-radius: 2px;
  padding: 15px;
  flex: 0.3;
  margin-left: 15px;
}

/* Section .light-purple */

.light-purple {
  background-color: var(--light-grayis-blue);
  margin-top: 100px;
  position: relative;
  padding: 50px 0;
}

.light-purple::before {
  content: "";
  background-image: url(./images/bg-curve-desktop.svg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: -70px;
  left: 0;
  height: 70px;
  width: 100%;
}

.green-link {
  color: var(--moderate-cyan);
  text-decoration: none;
  border-bottom: 1px solid var(--moderate-cyan);
}

/* Testimonial */
.testimonial-box {
  background-color: #ffffff;
  padding: 25px;
  margin-top: 40px;
  width: 70%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.testimonial-box p {
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.7;
}

.user-info {
  display: flex;
  margin-top: 20px;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info h4 {
  margin: 0;
  font-weight: 600;
}

/* Section purple */

.purple {
  background-color: var(--desaturated-blue);
  color: #ffffff;
  padding: 50px 0;
}

.purple form {
  flex-direction: column;
}

.purple form input {
  font-family: "Railway", sans-serif;
  flex: 1;
  border-radius: 2px;
  border: none;
}

.purple form button {
  font-family: "Railway", sans-serif;
  font-weight: 700;
  margin: 17px 0;
  width: 50%;
  border-radius: 2px;
}

/* Footer styling */

footer {
  background-color: var(--very-dark-blue);
  color: #ffffff;
  padding: 50px 0 40px;
  font-size: 13px;
}

.align-start {
  align-items: flex-start;
}

.align-start ul li img {
  margin-right: 10px;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer ul li {
  margin-bottom: 18px;
}

footer ul li a {
  color: #ffffff;
}

footer .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .circle {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  text-decoration: none;
}

/* Responsive on mobile */

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }

  .flex {
    flex-direction: column-reverse;
  }

  header .flex form {
    flex-direction: column;
  }

  header .flex form input {
    width: 100%;
  }

  header .flex form button {
    width: 100%;
    margin: 15px 0;
  }

  .flex > div:first-child {
    margin-right: 0;
  }

  .flex > div:last-child {
    margin-left: 0;
  }

  .flex-purple {
    flex-direction: column;
  }

  .align-start {
    flex-direction: column;
  }

  .flex > div {
    width: 100%;
  }

  .light-purple::before {
    background-image: url(./images/bg-curve-mobile.svg);
  }

  .illustarion {
    margin-top: 30px;
  }

  .testimonial-box {
    width: 100%;
  }

  .user-info {
    justify-content: center;
  }

  .purple form input {
    flex: 1;
  }

  .purple form button {
    width: 100%;
  }

  footer ul {
    padding: 0;
    width: 100%;
  }
}
